<aside class="author">
  <img class="profile-image" src="{{asset "img/profile-image.jpg"}}" alt="" />
  <p class="name">by <strong>Adam Mulligan</strong></p>
  <p>Hacker, Software Developer</p>
  <p class="address">Cambridge, England</p>
  <p class="link"><a href="http://adammulligan.co" title="Adam Mulligan - Web Application/Software Developer">adammulligan.co</a></p>

  <ul class="social">
    <li><a class="icon-twitter" href="http://twitter.com/amulligan" title="Follow me on Twitter"></a></li>
    <li><a class="icon-github" href="https://github.com/adammulligan" title="See what I'm working on Github"></a></li>
  </ul>
</aside>
